<footer class="fixed-bottom text-center text-lg-center"
    style="opacity: 0.9; margin-top: 1rem; background-color: #777777; height: 86px;">
    <div class="container">
        <h5 class="card-title mt-2">Avaliador de Disciplinas</h5>
        <span class="card-text">2025</span>
        <p class="card-text">Desenvolvido por: <a href="https://github.com/Meredyk48" target="_blank"
                style="color: inherit; text-decoration: none;">Bruno
                Meredyk</a></p>
    </div>
</footer>